.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-form {
  flex: 4;
  top: 20%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.grid-layout {
  flex: 10;
}
